* {
font-family: Helvetica,Arial,sans-serif;
}

 html,body{
	padding: 0;
	margin: 0;
	background-color: #e1f0f8;
}
 
 .page-wrapper{
 	width: 1145px;
 	margin: 0 auto;
 }

.header{
	height: 214px;
	background-color: #fff;
}

.header-top{
	padding-bottom: 11px;
}
.header-bottom{
	height: 58px;
}


.container-header{
	display: inline-block;
}

.logo{
	padding-left: 24px;
	padding-top: 15px;
}

.costprice{
	position: relative;
	top:-19px;
	padding-left: 303px;
	}
	
 .costprice a {
    font-size: 21px;
 	color: #eb5825;

}
.phone-text{
	position: relative;
	top:-16px;
	color: #4b4b4b;
	padding-left:100px;
	text-align: right;
}

.phone-text #text1 {
	font-size: 16px;
}

.phone-text #text2 {
	font-size: 30px;
}

#text-phone{
	font-size: 30px;
	color:black;
}

.navbar-menu {
	margin: 0;
	padding: 0;
	font-size: 0;
	justify-content: space-between;	 
}		

.navbar-menu-item{
	display: inline-block;
	list-style: none;
	font-size: 25px;
	border-right: 1px solid;
}

.navbar-menu-item :last-child {
	margin-right: 0;
	border-right:none;

}
.navbar-menu-list{
	color: #4b4b4b;
	display: inline-block;
	text-decoration: none;
	height: 58px;
	line-height: 58px;
	padding: 0 54px;
}
.navbar-menu-list:hover {
	background-color: #7bc3d5;
	color:#fff;
}
.read-word{
	height: 176px;
	color: #4b4b4b;
}
 .read-word #main-word{
	padding-top:35px; 
	font-size: 67px;
}
 .read-word #main-word2{
	font-size: 26px;
}

.content{
	height: 1635px;
	width: 880px;
	float: right;
}

.sidebar{ 
	height: 472px;
	width: 241px;
	background-color:#fff;
	float: left;
	border-radius: 5px;
}
#bar-text{
	color:#5f6973;
	text-align:center;
	padding-top: 20px; 
	font-size: 21px;
}
#bar-ul{
  padding-left: 22px;
}
.sidebar-li {
	padding-bottom: 15px;
	list-style: none;
	font-size: 16px;
}
.sidebar-a{
	color:#5f6973;
	text-decoration: underline;
	
}
.sidebar-a:hover {
	color:#eb5825;
}
.content-inner{
	padding-bottom: 
}
 .section1{
 	height: 610px;
	width:  880px;
	background-color:#fff;
	border-radius: 5px;
 }
 #text-rehau{
 	padding-left: 25px;
 	padding-top: 24px;
 	font-size: 26px;
 }
 .okno{
 	display:inline-block;
 	max-width: 300px;
 	padding-left: 80px;
 	padding-top: 30px;
 }

 #ul-okno{
 	font-size: 14px;
 }

 .li-okno{
	margin-top:-44px;
 }

 .content-okno{
 	position: relative;
 	display:inline-block;
	max-width: 455;
	max-height: 400px;
	left:75px;
    top: -230px;
 }
 
 p{
 	font-size:13px;
 }
 
 .section2{
 	margin-top: 25px;
 	height: 480px;
	width:  880px;
	background-color:#fff;
	border-radius: 5px;
 }
 .inner-sction2{
	margin-top: 20px;
	margin-left:20px;
 }

 .left-list{
 	list-style:none;
 }
 .texth2{
 	margin-left: 20px:;
 }
 .section-hole{
 	margin-top: 0px;
 	height: 82px;
	width:  880px;
	background-color: #e1f0f8;
	background-color:;
	border-radius: 5px;
}
.section3{
	margin-top: 0px;
 	height:320px;
	width:  880px;
	background-color:#fff;
	border-radius: 5px;
	margin-bottom: 100px;
}
.clear{
	clear:both;
}




#answer1{
	width: 70%;
	float: left;
	font-size: 26px;
	padding-top: 34px;
}

#answer2{
	text-align: right;
	width: 30%;
	float:right;
 	font-size: 16px;
	color:#eb5825;
	padding-top: 44px;
	text-decoration: underline;
}

.footer{
	box-shadow: inset 0 10px 14px -6px rgba(0,0,0,0.7);
	height:230px;
 	background-color:  #a5b7c1;
 }
 
 #bottom-menu{
	padding-top: 42px;
	margin-left: -46px;
	color:#5f6973;
 }

#text-phone{
	font-size: 30px;
	color:black;
}
.footer-phone{
	white-space: nowrap;
	position:relative;
	top:50px;
	color:black;
	text-align: left;
}
